PORT=<numero de puesto cualquiera>
JWT_KEY='Contraseña cualquiera para crear JWT'
MONGO_ROOT_USER='Nombre de Usuario cualquiera para manejar mongo'
MONGO_ROOT_PASSWORD='Contraseña cualquiera para manejar mongo'